
    @{
        <link href="~/Content/adminVerify.css" rel="stylesheet" type="text/css" />

        ViewBag.Title = "Verify User Accounts";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";

        WebGrid webGrid = new WebGrid(Model, canPage: false, canSort: false);

    }

    <body>

        <div id="page-wrapper">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12" style="margin-bottom:100px">
                                <div class="col-md-12" style="padding-top: 20px">
                                    <div id="monitoring">
                                        <h3><b>User Accounts</b></h3>
                                        <hr>

                                        @webGrid.GetHtml(tableStyle: "webgrid-table",
                                                      headerStyle: "webgrid-header",
                                                      footerStyle: "webgrid-footer",
                                                      alternatingRowStyle: "webgrid-alternating-row", 
                                                      columns: new[]
                                        {
                                            webGrid.Column("idNumber", "ID Number", style:"idNumber"),
                                            webGrid.Column("name", "Name", style: "name"),
                                            webGrid.Column("verified", "Verification Status", style: "verified"),
                                            webGrid.Column("History", format: @<span style="font-weight:bold">Transaction History</span>, style:"tranHisto")
                                        })


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
        <!-- jQuery -->
        <script src="~/js/jquery.js"></script>

        <script type="text/javascript">
            jQuery(function ($) {
                $(document).ready(function () {
                    $('.status').hide();
                    $('#processing').show();
                    $('#status').change(function () {
                        $('.status').hide();
                        $('#' + $(this).val()).show();
                    })
                });
            });

        </script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/js/bootstrap.min.js"></script>
    </body>
