
@{
	<link href="~/Content/adminOrderList.css" rel="stylesheet" type="text/css" />

	ViewBag.Title = "View Orders";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";

	WebGrid grid = new WebGrid(Model, canPage: false, canSort: false);

}

<body>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- Page Heading -->
				<div id="page-content-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12" style="margin-bottom:100px">
								<div class="col-md-12" style="padding-top: 20px">
									<div id="processing" class="status">
										<h3><b>Processing Documents</b></h3>
										<hr>

										@grid.GetHtml(tableStyle: "webgrid-table",
													  headerStyle: "webgrid-header",
													  footerStyle: "webgrid-footer",
													  alternatingRowStyle: "webgrid-alternating-row",
													  columns: new[]
										{
											grid.Column("transactionID", "Transaction No.", style:"transID"),
											grid.Column("userName", "Name", style: "name"),
											grid.Column("dateRequested", "Date Requested", style: "dateReq"),
											grid.Column("dateDue", "Date Due", style: "dateDue"),
											grid.Column("priceStr", "Price", style: "price"),
											grid.Column("deliveryProcessing", "Status", style:"verified")

										})

									</div>
									
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!-- /.row -->

		</div>
		<!-- /.container-fluid -->

	<!-- jQuery -->
	<script src="~/js/jquery.js"></script>

	<script type="text/javascript">
		jQuery(function ($) {
			$(document).ready(function () {
				$('.status').hide();
				$('#processing').show();
				$('#status').change(function () {
					$('.status').hide();
					$('#' + $(this).val()).show();
				})
			});
		});

	</script>
	<!-- Bootstrap Core JavaScript -->
	<script src="~/js/bootstrap.min.js"></script>


</body>