
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_TransactionLayout.cshtml";
}

@section body{
    <body>
        <h2>Your order has now been completed! if you have any concerns please Contact DLSU Enrollment Services Hub</h2>
    </body>
    }